*{
  margin: 0px;
  padding: 0px;
}
div{
  width: 100px;
  height: 100px;
  border: 2px solid yellow;
  background: red;
  margin: 10px;
}
#color2{
  text-align: Center;
  background: darkcyan;
  color: mediumaquamarine;
  border: 3px dashed paleturquoise;
}

.color3{
  text-align: Center;
  background:#FF00AB;
  color: #FF00A2;
  border: 3px dashed ;
}
#color4{
  text-align: Center;
  background: #F0F;
  color: #F1A;
  border: 3px dashed #F8B;
}
#color5{
  text-align: Center;
  background: rgb(10, 20, 255);
  color: rgb(5, 10, 120);
  border:3px dashed rgb(2, 5, 50);
}
#color6 {
  text-align: Center;
  background: rgb(30%, 50%, 90%);
  color: rgb(43%, 60%, 54%);
  border: 3px dashed rgb(10%, 23%, 54%);
}
#color7 {
  text-align: Center;
  background: linear-gradient(violet,plum);
  color: blue;
  border: 3px dashed orchid;
}
#color8 {
  text-align: Center;
  background: rgba(10, 20, 30, 0.7);
  color: salmon;
  border: 3px dashed darksalmon;
}
#color9 {
  text-align: Center;
  background: linear-gradient(to right,red,yellow);
  color: pale;
  border: 3px dashed darkkhaki;
}
#color10 {
  text-align: Center;
  background: linear-gradient(180deg,red,orange,yellow,green,blue,indigo,violet);
  color: blue;
  border: 3px dashed green;
}
 body{  
background: linear-gradient( cyan,teal,cyan);
   
 }
 h1{
   background: linear-gradient(thistle,orchid);
   -webkit-background-clip: text;
   color:transparent;
 }